@import "../variables/Variables.scss";


// .login-bgi {
//   background-size: contain;
//   background-repeat: no-repeat;
//   margin: 0 calc(50% - 50vw);
//   height: 100vh;
// }

.login-container{
  @include shadowRounded;
  @include customFlex();
  background-color: $main-background-color;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 40px;
  @include mq(sm) { // 引数を個別に指定
    padding: 20px 0px;
  }
}

.login-options-wrap{
  @include customFlex($justify:  space-between);
  font-size: 0.8rem;
  margin-top: 10px ;

  input {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 1px;
    background: $main-background-color;
    outline: none;
  }
}
.login-forgot-button{
  // font-size: 0.3rem;
  color: #E71F7F;
  padding: 0;

  // background-color: $main-background-color;
}

// .login-button {
//   margin-top: 30px;
//   width: 100%;
//   border-radius: $button-border-radius;
//   background: linear-gradient(to right top, #E71F7F, #A7228F);
//   position: relative;
//   // background-color: #fff;
// }

.login-guest-btn{
  @include shadowRounded();
  @include basicButton();
  margin-top: 5px;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}

.login-register-button{
  color: #E71F7F;
  padding: 0;
  font-size: 0.8rem;
}


.login-or {
  width: 100%; 
  text-align: center; 
  border-bottom: 0.3px solid #909090;
  line-height: 0.1px;
  margin: 10px 0 20px; 
} 

.login-or span { 
   background: $main-background-color;
   padding:0 10px; 
   color: #909090;
}
