
/* 
.bg-dark {
  background-color: #5c2d91 !important;
} */

a {
  text-decoration: none;
}

.product-card {
  min-height: 500px;
  height: 100%;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
 

.subtotal-text {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

main {
  min-height: 80vh;
}

/* h3 { 
  padding: 0.5rem 0;
} */
.header-cartnumber {
  position: absolute;
  top: 2px;
  left: 18px;
  width: 20px;
  height: 20px;
  /* background-color: rgba(255,255,255,0.55); */
  
  border-radius: 50%;
  /* color: #55595c; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}


.rating span {
  margin: 0.1rem;
  width: 20px;

}
.custombtn {
  margin-bottom: -20px;
}


/* .checkoutStepBar{
  display: inline;
  width: auto;
  position: absolute;
  text-align: right;
  margin-left: auto;
  right: -20px;
  top: -20px
} */



@media only screen and (max-width: 478px) {
  /* .checkoutStepBar{
    display: inline;
    width: auto;
    position: absolute;
    text-align: right;
    margin-left: auto;
    right: -20px;
    top: -20px
  } */
  /* .checkoutStep{
    padding-bottom: .5rem;  
  }
  
  .checkoutStepBar{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
  } */
  .checkoutStepBar{
    /* font-size: '0.1rem', */
    display: none;
  } 

  .shippingContainer {
    margin-top: 20px;
  }
}


@media only screen and (min-width: 768px) {
  .customCard {
    height: 400px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

  .product-page-section {
    min-width: 350px;
  }
  .form-control-select {
    /* width: auto; */
    width: 290px;
    padding: 0.75rem 0.2rem;
  }
  .form-control-select-checkout {
    /* width: auto; */
    width: 70px;
    padding: 0.75rem 0.2rem;
  }
 

  .product-page-section:nth-child(3) {
    margin: 20px 0 0 50%;
  }
}