
/* 
.bg-dark {
  background-color: #5c2d91 !important;
} */

a {
  text-decoration: none;
}

.product-card {
  min-height: 500px;
  height: 100%;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
 

.subtotal-text {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

main {
  min-height: 80vh;
}

.StripeElement {
  background-color: #f7f7f9;
  padding: .75rem 1.5rem;
}



/* h3 { 
  padding: 0.5rem 0;
} */
.header-cartnumber {
  position: absolute;
  top: 2px;
  left: 18px;
  width: 20px;
  height: 20px;
  /* background-color: rgba(255,255,255,0.55); */
  
  border-radius: 50%;
  /* color: #55595c; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;

}


.shipping-form-lable {
  width: 100%;
  display: flex;
  align-items: center;
}

.shipping-form-icon {
  margin-left: 6px;
  background-color: rgb(156, 93, 156);
  color: white;
  font-size: 10px;
  padding: 2px 8px;
}

.shipping-form-example {
  text-align: end;
  font-size: 0.7rem;
  color: #90a4ae;

}

.rating span {
  margin: 0.1rem;
  width: 20px;

}
.custombtn {
  margin-bottom: -20px;
}

.cartTo {
  width: 60px;
  height: 60px;
  position: fixed;
  margin-bottom: 20px;
  margin-right: 20px;
  right: 0;
  bottom: 0;
  /* background-color: blueviolet; */
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* color: white; */
  /* border: 1px solid; */
  box-shadow: 0px 3px 10px 1px;
 
  transform-origin: 50% 50%;
}

.animation-shake {
  animation: shake-animation 4.72s ease infinite;
}
@keyframes shake-animation {
  0% { transform:translate(0,0) }
 1.78571% { transform:translate(5px,0) }
 3.57143% { transform:translate(0,0) }
 5.35714% { transform:translate(5px,0) }
 7.14286% { transform:translate(0,0) }
 8.92857% { transform:translate(5px,0) }
 10.71429% { transform:translate(0,0) }
 100% { transform:translate(0,0) }
}

/* .home-cartButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;

} */

/* .checkoutStepBar{
  display: inline;
  width: auto;
  position: absolute;
  text-align: right;
  margin-left: auto;
  right: -20px;
  top: -20px
} */



@media only screen and (max-width: 478px) {
  /* .checkoutStepBar{
    display: inline;
    width: auto;
    position: absolute;
    text-align: right;
    margin-left: auto;
    right: -20px;
    top: -20px
  } */
  /* .checkoutStep{
    padding-bottom: .5rem;  
  }
  
  .checkoutStepBar{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
  } */
  .checkoutStepBar{
    /* font-size: '0.1rem', */
    display: none;
  } 

  .shippingContainer {
    margin-top: 20px;
  }
}


@media only screen and (min-width: 768px) {
  .customCard {
    height: 400px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

  .product-page-section {
    min-width: 350px;
  }
  .form-control-select {
    /* width: auto; */
    width: 290px;
    padding: 0.75rem 0.2rem;
  }
  .form-control-select-checkout {
    /* width: auto; */
    width: 70px;
    padding: 0.75rem 0.2rem;
  }
 

  .product-page-section:nth-child(3) {
    margin: 20px 0 0 50%;
  }
}