@import "./variables/Variables.scss";

@font-face {
  font-family: "AxisStd";
  src: local("AxisStd"),
  url("./fonts/AxisStd/AxisStd-UltraLight.otf") format('truetype');

}
@font-face {
  font-family: "AxisStd";
  src: local("AxisStd"),
  url("./fonts/AxisStd/AxisStd-ExtraLight.otf") format('truetype');
  font-weight: bold
}

body {
  // font-family: "AxisStd";
  font-family: "AxisStd";
  font-weight: bold; 
}

// .btn {
//   display: inline-block;
//   margin-bottom: 0; // For input.btn
//   font-weight: $btn-font-weight;
// }

/*

.bg-dark {
  background-color: #5c2d91 !important;
} */

a {
  text-decoration: none;
}

.product-card {
  min-height: 500px;
  height: 100%;
}

h1 {
  text-align: start;
  // font-size: $size;
  padding: 1rem 0;
}
 
p {
  font-size: 0.9rem;
}

main {
  min-height: 80vh;
  
}

.StripeElement {
  background-color: #f7f7f9;
  padding: .75rem 1.5rem;
}

.main-bgc {
  background-color: $main-background-color;
} 


// ------------------------------global-css ----------------------------------

.form-asterisk__g {
  color: $solidColor;
}

.bgi-register__g {
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 calc(50% - 50vw);
  height: 100vh;
}


.next-gradient-btn__g {
 
  width: 100%;
  border-radius: $button-border-radius;
  background: linear-gradient(to right top, #E71F7F, #A7228F);
  position: relative;
  // background-color: #fff;
}

.form-container-pw-icon__g{
  @include customFlex();
  background-color: $main-background-color;
  font-weight: bold;
  flex-direction: row;
  overflow: hidden;
  border: 1px solid #909090;
  border-radius: $button-border-radius;
}

.shipping-form-lable__g {
  width: 100%;
  display: flex;
  align-items: center;
}

.shipping-form-icon__g {
  margin-left: 6px;
  background-color: rgb(156, 93, 156);
  color: white;
  font-size: 10px;
  padding: 2px 8px;
}



.shipping-form-example__g {
  text-align: end;
  font-size: 0.7rem;
  color: #90a4ae;
}


.form-control-select__g {
  margin: 0 auto;
  max-width: 26px;
  margin: 5px;
  padding: 1px 1px;
  appearance:none;
  border-width: 0;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  text-align-last:center;
}

// ------------------------------global-css ----------------------------------



/* page1 */

.page1-box{
    position: relative;
    /* height: 100vh; */
    min-height: 90vh;
    display: flex;
    /* align-items: center; */
    /* margin: 0 calc(50% - 50vw); */
}
.page1-bgc {
  
  position: absolute;
  
  width: 80%;
  /* height: 100vh; */
  /* padding-top: 850px; */
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  object-fit: cover;  
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
.page1-logo {
  position: absolute;
  width: 15%;
  /* padding-top: 850px; */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  object-fit: cover;  
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
.page1-bgc-mobile {
  position: absolute;
  

  width: 80%;
  /* height: 100vh; */
  /* padding-top: 850px; */
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  object-fit: cover;  
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.page1-logo-mobile {
  position: absolute;
  width: 30%;
  /* padding-top: 850px; */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  object-fit: cover;  
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* page1 */


/* page2 */


.page2-wrap{
  position: relative;  
  display: flex;
  padding: 20px;
  align-items: center;
  min-height: 100%;
  margin-bottom: 200px;
  /* ?????????????????????????????????????????????????? */
}

.page2-wrap-mobile{
  position: relative;  
  display: flex;
  padding: 20px;
  flex-direction: column;
  min-height: 100%;
}

.page2-card {
  @include shadowRounded;
  background-color:$main-background-color;
  width: 50%;

}
.page2-card-mobile {
  @include shadowRounded;
  background-color:$main-background-color;
  width: 100%;
 
}

.page2-card-body{
  padding: 80px 10px;
}

.page2-card-logo{
  width: 50px;
}
/* .page2-card-text{
  padding: 30px 0;
} */
.page2-card-title{
  font-size: 50px;
  display: flex;
  align-items: center;
}

.page2-card-text{
  margin-top: 50px;
}

.page2-image{
  position: absolute;
  top: 30;
  right: 0;
  width: 60%;
  margin: 0 calc(50% - 50vw);
  object-fit: cover;  
}
.page2-image-mobile{
  margin: 0 calc(50% - 50vw);
  margin-left: auto;
  width: 100%;
  object-fit: cover;  
}

/* page2 */

/* productScreen */

// .product-page-name{
//   font-weight: bold; 
//   font-size: 2.0rem;
// }

// .product-page-section{
//   @include shadowRounded;
//   padding: 40px 40px;
//   text-align: justify;
//   /* responsive */
// }

// .product-page-description{
//   margin-top: 20px;
// }

// .product-page-img {
//   @include shadowRounded;
//   background-color: $main-background-color;
//   margin-bottom: 20px;
// }

// .product-page-stock{
//   @include customFlex;

//   border-style: solid;
//   border-radius: 20px;
//   border-width: 1px;
//   font-size: 0.7rem;
//   padding: 3px 20px;
//   min-width: 110px;
// }
// .product-page-option-wrap {
//   @include shadowRounded;
//   @include customFlex($justify: space-around);
//   margin-top: 30px;
//   margin-bottom: 30px;
//   width: 100%;
//   border-width: 1px;
//   // padding: 15px;
//   padding: 15px 40px;
// }
// .product-page-review-wrap {
//   @include shadowRounded;
//   margin-top: 20px;
//   border-width: 1px;
//   padding: 15px;
//   /* responsiveCss */
// }


// .product-page-review-container {
//   padding: 40px 40px;
// }

// .product-page-button{
//   border-radius: $button-border-radius;
//   width: 100%;
//   font-weight: normal;
//   padding: 7px 15px;
// }

// .product-page-button i {
//   -webkit-text-stroke: 1px #1a1a1a;
// }

// .product-page-price{
//   @include customFlex();
//   font-size: 1.2rem;
// }


// .product-page-crement-wrap {
//   @include customFlex($justify: space-around);
//   border-width: 0.2px;
//   border-color: gray;
//   border-radius: $button-border-radius;
//   padding: 0px 10px;
//   max-width: 150px;
//   border-style: solid;
  
// }

// .product-page-crement{
//   border-width: 0;
//   background-color: $main-background-color;
//   border-radius: 50px;
//   /* margin: 0px 15px; */
// }

// .product-page-crement i {
//   -webkit-text-stroke: 2px $main-background-color;
// }

// .product-page-review-stock-wrap{
//   @include customFlex($justify: space-between);
  
// }

// .product-page-review-form {
//   border-radius: $button-border-radius;
//   border-width: 1px;
// }

/* productScreen */

/* product */
.customCard {
  @include shadowRounded;
  background-color: $main-background-color;
  border-width: 1px;
  padding: 15px;
}

/* product */


// .login-password-visibleIcon {
//   position: absolute;
//   right: 200px;
//   bottom: 190px;
// }


// ModalContainer



// ModalContainer

// .btn-primary {
//   color: #fff;
//   background-color: linear-gradient(to right bottom, #E71F7F, #A7228F);;

// }





.header-cartnumber {
  @include customFlex();
  position: absolute;
  top: 2px;
  left: 18px;
  width: 20px;
  height: 20px;
  /* background-color: rgba(255,255,255,0.55); */
  
  border-radius: 50%;
  /* color: #55595c; */
  font-size: 0.5rem;
}



// .login-forgot {
//   text-align: end;
//   font-size: 0.7rem;
// }


.rating span {
  margin: 0.05rem;
  width: 20px;

}
.custombtn {
  margin-bottom: -20px;
}

.cartTo {
  @include customFlex();
  width: 60px;
  height: 60px;
  position: fixed;
  margin-bottom: 20px;
  margin-right: 20px;
  right: 0;
  bottom: 0;
  /* background-color: blueviolet; */
  opacity: 0.6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* color: white; */
  /* border: 1px solid; */
  box-shadow: 0px 3px 10px 1px;
 
  transform-origin: 50% 50%;
}

.stickyBottom  {
  @include customFlex();
  width: 100%;
  height: 60px;
  position: fixed;
  // margin-bottom: 20px;
  // margin-right: 20px;
  right: 0;
  bottom: 0;
  /* background-color: blueviolet; */
  
  
  height: 50px;
  
  /* color: white; */
  /* border: 1px solid; */
  box-shadow: 0px 3px 10px 1px;
 
  transform-origin: 50% 50%;
}

.animation-shake {
  animation: shake-animation 4.72s ease infinite;
}
@keyframes shake-animation {
  0% { transform:translate(0,0) }
 1.78571% { transform:translate(5px,0) }
 3.57143% { transform:translate(0,0) }
 5.35714% { transform:translate(5px,0) }
 7.14286% { transform:translate(0,0) }
 8.92857% { transform:translate(5px,0) }
 10.71429% { transform:translate(0,0) }
 100% { transform:translate(0,0) }
}

/* .home-cartButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;

} */

/* .checkoutStepBar{
  display: inline;
  width: auto;
  position: absolute;
  text-align: right;
  margin-left: auto;
  right: -20px;
  top: -20px
} */



@media only screen and (max-width: 478px) {


/* productScreen */

.product-page-section{
  padding: 40px 20px;
  /* responsive */
}

.product-page-review-container {
  padding: 40px 40px;
}
.product-page-button{
  padding: 10px
}
.product-page-option-wrap {
  padding: 15px 20px;
}

  /* .checkoutStepBar{
    display: inline;
    width: auto;
    position: absolute;
    text-align: right;
    margin-left: auto;
    right: -20px;
    top: -20px
  } */
  /* .checkoutStep{
    padding-bottom: .5rem;  
  }
  
  .checkoutStepBar{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
  } */
  .checkoutStepBar{
    /* font-size: '0.1rem', */
    display: none;
  } 

  .shippingContainer {
    margin-top: 20px;
  }
}


@media only screen and (min-width: 768px) {
  .customCard {
    height: 400px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

  /* .product-page-section {
    min-width: 350px;
  }
  .form-control-select {
  
    width: 290px;
    padding: 0.75rem 0.2rem;
  } */
  /* .form-control-select-checkout {
  
    width: 70px;
    padding: 0.75rem 0.2rem;
  }
  */
/* 
  .product-page-section:nth-child(3) {
    margin: 20px 0 0 50%;
  } */
}