/* @font-face {
  font-family: "AxisStd";
  src: local("AxisStd"), url("../src/fonts/AxisStd/AxisStd-ExtraLight.otf") format("trueType");
  font-display: block;
}

@font-face {
  font-family: "AxisStd";
  src: local("AxisStd"), url("../src/fonts/AxisStd/AxisStd-UltraLight.otf") format("trueType");
  font-weight: bold;
  font-display: block;
} */
